<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%
      htmlWebpackPlugin.options.cdn.forEach(item => {
        if (item.css) {
    %>
          <link rel="stylesheet" href="<%= item.css %>">
    <%
        }
      })
    %>
  </head>
  <body>
    <img src="./public/img/big.jpg" alt="">
    <div id="app"></div>
    <%
      htmlWebpackPlugin.options.cdn.forEach(item => {
        if (item.js) {
    %>
          <script src="<%= item.js %>"></script>
    <%
        }
      })
    %>
  </body>
</html>
